@import 'utility.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
body{
    font-family: 'poppins',sans-serif;
}
header{
    background-image: linear-gradient(rgb(8, 186, 218),rgb(171, 229, 240),white);
    height:145px;
}
.container{
    max-width:1152px;
    padding:0 15px;
    margin:0 auto;
}
header nav .left a {
    color: var(--cornsilk);
    text-decoration:none;
    margin-right:2rem;
    transition: all .3s ease;
}
header nav .left a:hover{
    color: #78e9cd;

}
header nav{
    padding:2rem 0;
}
header nav .logo{
    margin-right:3rem;

}
.front-image .social-icon {
    display: inline-block;
  }
  
.front-image .social-icon li {
    list-style: none;
    float: left;
    margin-bottom: 0px;
    margin-right: 8px;
  }
  
.front-image .social-icon li a {
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
  }
  
.front-image .social-icon li:last-child a {
    margin-right: 0px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  
 .front-image ul li {
    list-style-type: none;
  }
 .front-image .right ul {
    margin-top: 20px;
  }
  
 .front-image .right ul li {
    margin: 10px 0;
  }
  
 .front-image .right ul li .fa {
    margin-right: 15px;
    display: inline-block;
  }
  
 .front-image .right ul li address {
    display: inline-block;
  }
  
.front-image  .right ul li:hover .fa {
    color: #0bceaf;
  }
  
 .front-image .right .social-icon {
    margin-top: 0;
    color: darkblue;
  }
 .front-image .right .s{
     color: rgb(101, 107, 117);
 }
 .front-image .right .social-icon li .fa {
    font-size: 18px;
    line-height: 30px;
    padding: 4px 14px;
    margin-right: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 3px;
  }
  
 .front-image .right .social-icon li .fa:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
.front-image  .right .social-icon li a {
    font-size: 25px;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 0;
    border-radius: 50%;
  }
  .front-image .right h6{
      font-size:1rem ;
      color: darkslategrey;
      margin-bottom: 0.5rem;
  }
  .front-image .right h3{
      font-size: 2.5rem;
      color: forestgreen;
  }
  .front-image .right h1{
      font-size: 4rem;
      color: gray;
      line-height: 1.2;
      margin-bottom: 1.5rem;
  }
  .front-image .right h1 span{
      color: rebeccapurple;
  }
  .front-image .right p{
      color: darkblue;
      margin-bottom: 2rem;
  }
  section {
    margin-top: 500px;
    font-family: 'Roboto',sans-serif;
  }
section .left h3{
  font-size: 30px;
  line-height: 40px;
  color: rgb(117, 115, 114);
}
section .left p{
  color: #58615f;
  font-size: 18px;
  line-height: 30px;
}
section .left h3 span{
  color: rgb(166, 187, 133);
}
.education .left{
  padding: 60px;
  box-shadow: 2px 5px 9px 5px lightgrey;
  flex-basis: 30%;
  border-radius: 10px;
  margin-left:2% ;
}
.education .middle{
  padding: 60px;
  box-shadow: 2px 5px 9px 5px lightgrey;
  flex-basis: 30%;
  border-radius: 10px;
}
.education .right{
  padding: 60px;
  box-shadow: 2px 5px 9px 5px lightgrey;
  flex-basis: 30%;
  border-radius: 10px;
  margin-right: 2%;
}
.education h2{
  font-size: 2rem;
      color: gray;
      line-height: 1.2;
      margin-bottom: 1.5rem;
}