.flex{
    display:flex;
}
.item-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 2rem;
    font-size:1rem;
    font-weight: 600;
    border:2px solid transparent ;
    outline: none;
    cursor:pointer;
    transition: all.3s ease;
}
.btn-primary{
    background: whitesmoke;
    color: rgb(139, 186, 224);
    border-color: rgb(139, 186, 224) ;
    border-radius: 5px;
}
.btn-primary:hover{
    color: whitesmoke;
    background: rgb(139, 186, 224);
    border-color:seagreen;
}
.btn-sec:hover{
    background: #fffefe;
    border-color: rgb(194, 218, 250);
    transition: .6s ease;
    box-shadow: none;
}
.btn-sec{
    background: honeydew;
    border-color: rgb(255, 255, 255);
    cursor: auto;
    border-radius: 5px;
    box-shadow: 2px 5px 9px 5px lightgrey;
    }